* {
    font-family: "Roboto", sans-serif;
    width: 40vw;
    padding: 0;
    margin: 0;
    text-align: center;
}
html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
img {
    width: 64px;
    height: 64px;
    margin: auto;
    padding-bottom: 20px;
}
h1 {
    padding-bottom: 120px;
}
input,
button {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: rgb(148, 148, 148);
}
input[type="button"]:hover {
    width: 61%;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}
a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
#b2 {
    background-color: rgb(245, 245, 245);
}
